@charset "ISO-8859-1";

body{
   color:#fff;
   background-image:linear-gradient(rgba(1,1,1,.3), rgba(1,1,1,.3)),
   url("https://orig00.deviantart.net/35ed/f/2014/235/f/e/treasury_by_realnam-d7wda4b.jpg");
  background-repeat:no-repeat;
   background-size:cover;
}

.table{
	text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: teal;
    color:black;
}

.card{
   margin: 0 auto 20px;
  text-align: left;
  font-weight: 100;
  color: black;
}


