@charset "ISO-8859-1";

body{
   color:#fff;
   background-image:linear-gradient(rgba(1,1,1,.3), rgba(1,1,1,.3)),
   url("https://th.bing.com/th/id/OIP.MWfA5hMTH1-ld9C5xeXvMQHaEo?pid=Api&rs=1");
  background-repeat:no-repeat;
   background-size:cover;
}

.table{
   text-align: center;
   
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:firebrick;
    color: black;
}