@charset "ISO-8859-1";

body{
   color:#fff;
   background-image: url("https://s-media-cache-ak0.pinimg.com/736x/1c/1d/02/1c1d02c5aa04bafc2a547a60c63360ef.jpg");
  background-repeat:no-repeat;
   background-size:cover;
}
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: 0;
  color: #F2F2F2;
  text-decoration: none;
  outline: none;
}

body {
  min-height: 100vh;
  color:#fff;
   background-image:linear-gradient(rgba(1,1,1,.3), rgba(1,1,1,.3)),
     url("https://s-media-cache-ak0.pinimg.com/736x/1c/1d/02/1c1d02c5aa04bafc2a547a60c63360ef.jpg");
  background-repeat:no-repeat;
   background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.card h1 {
  margin: 0 auto 20px;
  text-align: center;
  font-weight: 100;
}
.card input {
  margin: 7px 0;
  background: #5C636E;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 5px 15px;
  font-size: 1em;
}
.card input::placeholder {
  color: #F2F2F2;
}
.card .options {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .options a {
  font-size: 1em;
}
.card .options .btn {
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 5px;
  background: #F96D00;
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s;
}
.card .options .btn:hover {
  transform: scale(1.15);
}