@charset "ISO-8859-1";
.login-container {
	display: flex;
	flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
}

input {
	margin: 3px;
}
body{
   color:#fff;
   background-image: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2020/05/Batman-Slapping-Robin-Meme-Explained.jpg");
  background-repeat:no-repeat;
   background-size:cover;
}